* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: goldenrod;
  color: white;
}

.hero-section {
  min-height: 900px;
  background-image: url(../img/Airbus\ A380.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styling the Navigation */
header {
  padding: 20px 50px;
  background: transparent;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 65px;
  height: auto;
}

.logo h1 {
  margin: 0;
  color: #043267;
  font-size: 40px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0042ff;
}
/* End of Styling the Navigation */

/* Styling the hero section */
.hero-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.hero-text {
  margin-top: 250px;
  width: 45%;
}

.hero-text h2 {
  font-size: 60px;
  color: black;
  line-height: 0.1;
  margin-bottom: 25px;
  font-weight: 800;
}

.hero-text h1 {
  font-size: 100px;
  color: #0042ff;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 800;
}

.hero-text span {
  color: #043267;
}

.hero-text p {
  font-size: 25px;
  color: black;
  max-width: 600px;
  margin-bottom: 20px;
}

.hero-button {
  padding: 15px 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  background: #0042ff;
  color: white;
  font-weight: bold;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
.hero-button:hover {
  transform: translateY(-4px);
}
/* End of styling hero section */
/* Styling section class brief */
.brief {
  min-height: 730px;
  position: relative;
  overflow: hidden;
  padding: 18px 20px 40px;
  color: #fff;
  background-color: #043267;
}

.brief h1 {
  margin: 0 0 34px;
  color: #f3e500;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.events {
  width: min(960px, 1800px);
  height: 565px;
  margin: 0 auto;
  position: relative;
}

.events article {
  width: 180px;
  min-height: 200px;
  position: absolute;
  padding: 22px 14px;
  text-align: center;
  background-color: black;
  border: 3px solid;
  z-index: 2;
  /* places cards above the arrows */
}

.events h2 {
  margin: 0 0 3px;
  font-size: 20px;
}

.events h3 {
  margin: 0 0 18px;
  color: #f3e500;
  font-size: 18px;
}

.events p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.event-launch {
  top: 0;
  left: 220px;
}

.event-flight {
  top: 0;
  left: 552px;
}

.event-service {
  top: 200px;
  right: 0;
}

.event-flagship {
  top: 357px;
  left: 552px;
}

.event-end {
  top: 357px;
  left: 220px;
}

.event-legacy {
  top: 200px;
  left: 0;
}
/* Styling the Arrows */
.arrow {
  position: absolute;
  z-index: 1;
  /* places arrows behind the cards, since we use z-index: 2 on the boxes */
  color: white;
}

.straight {
  width: 145px;
  height: 10px;
  background: white;
  border-radius: 20px;
}

.straight::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2px;
  width: 35px;
  height: 35px;
  border-top: 10px solid white;
  border-right: 10px solid white;
  transform: translateY(-50%) rotate(45deg);
}

.curve {
  width: 120px;
  height: 120px;
  border: 10px solid white;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0 110px 0 0;
}

.curve::after {
  content: "";
  position: absolute;
  right: -18px;
  bottom: -8px;
  width: 24px;
  height: 24px;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  transform: rotate(45deg);
}

.arrow-one {
  top: 50px;
  left: 395px;
}

.arrow-two {
  top: 59px;
  left: 730px;
}

.arrow-three {
  top: 400px;
  left: 751px;
  transform: rotate(90deg);
}

.arrow-four {
  top: 510px;
  left: 410px;
  transform: rotate(180deg);
}

.arrow-five {
  top: 420px;
  left: 100px;
  transform: rotate(180deg);
}

/* Responsive for the hero-section class */
/* =========================
   TABLET
   ========================= */

@media (max-width: 1100px) {
  .hero-section {
    min-height: 750px;
    background-position: center;
  }

  header {
    padding: 20px 30px;
  }

  nav {
    max-width: 100%;
  }

  .logo img {
    width: 55px;
  }

  .logo h1 {
    font-size: 32px;
  }

  .nav-links {
    gap: 18px;
  }

  .nav-links a {
    font-size: 19px;
  }

  .hero-container {
    max-width: 100%;
    padding: 0 30px;
  }

  .hero-text {
    width: 55%;
    margin-top: 180px;
  }

  .hero-text h2 {
    font-size: 45px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .hero-text h1 {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .hero-text p {
    font-size: 20px;
    max-width: 550px;
  }

  .hero-button {
    font-size: 18px;
    padding: 13px 28px;
  }
}

/* =========================
   MOBILE PHONE
   ========================= */

@media (max-width: 700px) {
  .hero-section {
    min-height: 750px;
    background-position: center;
  }

  header {
    padding: 15px 20px;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logo {
    gap: 8px;
  }

  .logo img {
    width: 50px;
  }

  .logo h1 {
    font-size: 30px;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 18px;
  }

  .nav-links a {
    font-size: 17px;
  }

  .hero-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text {
    width: 100%;
    margin-top: 100px;
    text-align: center;
  }

  .hero-text h2 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .hero-text h1 {
    font-size: 52px;
    line-height: 1.05;
    margin-bottom: 20px;
  }

  .hero-text p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto 25px;
  }

  .hero-button {
    font-size: 17px;
    padding: 13px 25px;
  }
}

/* =========================
   SMALL PHONES
   ========================= */

@media (max-width: 400px) {
  .hero-section {
    min-height: 700px;
  }

  header {
    padding: 12px 15px;
  }

  .logo img {
    width: 45px;
  }

  .logo h1 {
    font-size: 27px;
  }

  .nav-links {
    gap: 8px 12px;
  }

  .nav-links a {
    font-size: 15px;
  }

  .hero-container {
    padding: 0 15px;
  }

  .hero-text {
    margin-top: 80px;
  }

  .hero-text h2 {
    font-size: 27px;
  }

  .hero-text h1 {
    font-size: 43px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-button {
    font-size: 16px;
    padding: 12px 20px;
  }
}

/* Responsive for arrows in phones and tablets */
/* =====================================
   TABLETS - IPAD PRO / GALAXY TAB
   ===================================== */

@media (min-width: 701px) and (max-width: 1000px) {
  .brief {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  .events {
    width: 960px;
    height: 565px;

    position: relative;
    left: 50%;
    margin-left: -480px;

    transform: scale(0.75);
    transform-origin: top center;
  }
}

/* =========================
            PHONES
   ========================= */

@media (max-width: 700px) {
  .brief {
    min-height: auto;
    padding: 18px 15px 40px;
  }

  .events {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: none;
  }

  .events article {
    position: relative;
    width: 100%;
    min-height: 200px;
    top: auto;
    left: auto;
    right: auto;
  }

  .arrow {
    display: none;
  }
}
